--
-- PostgreSQL database dump
--

\restrict lh2ecPTVYnDH6hzNjZ1loqh6JtXDetQG6L104OSuvNb88eqwho6LfUhbp5Ecics

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: integrated_land_records; Type: TABLE; Schema: public; Owner: anyror_admin
--

CREATE TABLE public.integrated_land_records (
    id integer NOT NULL,
    district_code character varying(50) NOT NULL,
    taluka_code character varying(50) NOT NULL,
    village_code character varying(50) NOT NULL,
    survey_no character varying(100) NOT NULL,
    extracted_data jsonb NOT NULL,
    pdf_storage_path character varying(500),
    raw_html_path character varying(500),
    status character varying(50) NOT NULL,
    fetched_at timestamp with time zone NOT NULL
);


ALTER TABLE public.integrated_land_records OWNER TO anyror_admin;

--
-- Name: integrated_land_records_id_seq; Type: SEQUENCE; Schema: public; Owner: anyror_admin
--

CREATE SEQUENCE public.integrated_land_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.integrated_land_records_id_seq OWNER TO anyror_admin;

--
-- Name: integrated_land_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: anyror_admin
--

ALTER SEQUENCE public.integrated_land_records_id_seq OWNED BY public.integrated_land_records.id;


--
-- Name: land_records; Type: TABLE; Schema: public; Owner: anyror_admin
--

CREATE TABLE public.land_records (
    id integer NOT NULL,
    district_code character varying NOT NULL,
    taluka_code character varying NOT NULL,
    village_code character varying NOT NULL,
    survey_no character varying NOT NULL,
    extracted_data jsonb NOT NULL,
    pdf_file_path character varying,
    mutation_images_dir character varying,
    is_successful boolean,
    scraped_at timestamp without time zone
);


ALTER TABLE public.land_records OWNER TO anyror_admin;

--
-- Name: land_records_id_seq; Type: SEQUENCE; Schema: public; Owner: anyror_admin
--

CREATE SEQUENCE public.land_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.land_records_id_seq OWNER TO anyror_admin;

--
-- Name: land_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: anyror_admin
--

ALTER SEQUENCE public.land_records_id_seq OWNED BY public.land_records.id;


--
-- Name: mutation_entries; Type: TABLE; Schema: public; Owner: anyror_admin
--

CREATE TABLE public.mutation_entries (
    id integer NOT NULL,
    land_record_id integer NOT NULL,
    entry_number character varying,
    image_file_path character varying,
    scraped_html_text jsonb,
    ai_draft_data jsonb NOT NULL,
    final_verified_data jsonb,
    is_verified boolean,
    verified_at timestamp without time zone
);


ALTER TABLE public.mutation_entries OWNER TO anyror_admin;

--
-- Name: mutation_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: anyror_admin
--

CREATE SEQUENCE public.mutation_entries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mutation_entries_id_seq OWNER TO anyror_admin;

--
-- Name: mutation_entries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: anyror_admin
--

ALTER SEQUENCE public.mutation_entries_id_seq OWNED BY public.mutation_entries.id;


--
-- Name: integrated_land_records id; Type: DEFAULT; Schema: public; Owner: anyror_admin
--

ALTER TABLE ONLY public.integrated_land_records ALTER COLUMN id SET DEFAULT nextval('public.integrated_land_records_id_seq'::regclass);


--
-- Name: land_records id; Type: DEFAULT; Schema: public; Owner: anyror_admin
--

ALTER TABLE ONLY public.land_records ALTER COLUMN id SET DEFAULT nextval('public.land_records_id_seq'::regclass);


--
-- Name: mutation_entries id; Type: DEFAULT; Schema: public; Owner: anyror_admin
--

ALTER TABLE ONLY public.mutation_entries ALTER COLUMN id SET DEFAULT nextval('public.mutation_entries_id_seq'::regclass);


--
-- Data for Name: integrated_land_records; Type: TABLE DATA; Schema: public; Owner: anyror_admin
--

COPY public.integrated_land_records (id, district_code, taluka_code, village_code, survey_no, extracted_data, pdf_storage_path, raw_html_path, status, fetched_at) FROM stdin;
\.


--
-- Data for Name: land_records; Type: TABLE DATA; Schema: public; Owner: anyror_admin
--



--
-- Data for Name: mutation_entries; Type: TABLE DATA; Schema: public; Owner: anyror_admin
--



--
-- Name: integrated_land_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: anyror_admin
--

SELECT pg_catalog.setval('public.integrated_land_records_id_seq', 1, false);


--
-- Name: land_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: anyror_admin
--

SELECT pg_catalog.setval('public.land_records_id_seq', 16, true);


--
-- Name: mutation_entries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: anyror_admin
--

SELECT pg_catalog.setval('public.mutation_entries_id_seq', 127, true);


--
-- Name: integrated_land_records integrated_land_records_pkey; Type: CONSTRAINT; Schema: public; Owner: anyror_admin
--

ALTER TABLE ONLY public.integrated_land_records
    ADD CONSTRAINT integrated_land_records_pkey PRIMARY KEY (id);


--
-- Name: land_records land_records_pkey; Type: CONSTRAINT; Schema: public; Owner: anyror_admin
--

ALTER TABLE ONLY public.land_records
    ADD CONSTRAINT land_records_pkey PRIMARY KEY (id);


--
-- Name: mutation_entries mutation_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: anyror_admin
--

ALTER TABLE ONLY public.mutation_entries
    ADD CONSTRAINT mutation_entries_pkey PRIMARY KEY (id);


--
-- Name: idx_village_survey_unique; Type: INDEX; Schema: public; Owner: anyror_admin
--

CREATE UNIQUE INDEX idx_village_survey_unique ON public.integrated_land_records USING btree (village_code, survey_no);


--
-- Name: ix_integrated_land_records_district_code; Type: INDEX; Schema: public; Owner: anyror_admin
--

CREATE INDEX ix_integrated_land_records_district_code ON public.integrated_land_records USING btree (district_code);


--
-- Name: ix_integrated_land_records_survey_no; Type: INDEX; Schema: public; Owner: anyror_admin
--

CREATE INDEX ix_integrated_land_records_survey_no ON public.integrated_land_records USING btree (survey_no);


--
-- Name: ix_integrated_land_records_taluka_code; Type: INDEX; Schema: public; Owner: anyror_admin
--

CREATE INDEX ix_integrated_land_records_taluka_code ON public.integrated_land_records USING btree (taluka_code);


--
-- Name: ix_integrated_land_records_village_code; Type: INDEX; Schema: public; Owner: anyror_admin
--

CREATE INDEX ix_integrated_land_records_village_code ON public.integrated_land_records USING btree (village_code);


--
-- Name: ix_land_records_district_code; Type: INDEX; Schema: public; Owner: anyror_admin
--

CREATE INDEX ix_land_records_district_code ON public.land_records USING btree (district_code);


--
-- Name: ix_land_records_id; Type: INDEX; Schema: public; Owner: anyror_admin
--

CREATE INDEX ix_land_records_id ON public.land_records USING btree (id);


--
-- Name: ix_land_records_survey_no; Type: INDEX; Schema: public; Owner: anyror_admin
--

CREATE INDEX ix_land_records_survey_no ON public.land_records USING btree (survey_no);


--
-- Name: ix_land_records_taluka_code; Type: INDEX; Schema: public; Owner: anyror_admin
--

CREATE INDEX ix_land_records_taluka_code ON public.land_records USING btree (taluka_code);


--
-- Name: ix_land_records_village_code; Type: INDEX; Schema: public; Owner: anyror_admin
--

CREATE INDEX ix_land_records_village_code ON public.land_records USING btree (village_code);


--
-- Name: ix_mutation_entries_entry_number; Type: INDEX; Schema: public; Owner: anyror_admin
--

CREATE INDEX ix_mutation_entries_entry_number ON public.mutation_entries USING btree (entry_number);


--
-- Name: ix_mutation_entries_id; Type: INDEX; Schema: public; Owner: anyror_admin
--

CREATE INDEX ix_mutation_entries_id ON public.mutation_entries USING btree (id);


--
-- Name: mutation_entries mutation_entries_land_record_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: anyror_admin
--

ALTER TABLE ONLY public.mutation_entries
    ADD CONSTRAINT mutation_entries_land_record_id_fkey FOREIGN KEY (land_record_id) REFERENCES public.land_records(id);


--
-- PostgreSQL database dump complete
--

\unrestrict lh2ecPTVYnDH6hzNjZ1loqh6JtXDetQG6L104OSuvNb88eqwho6LfUhbp5Ecics

